html, body {
  height: 100%;

  padding: 0;
  margin: 0;
}

body {
  background-color: #DAE8E6;
}

p {
  font-family: helvetica, sans-serif;
  font-size: 20px;
}

.wrapper {
  display: grid;

  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: .2fr 2.9fr .2fr;

  grid-column-gap: 0;
  grid-row-gap: 0;
}

nav {
  background-color: #C0DFD9;
}

h1 {
  font-size: 50px;
}

h1, h2, h3 {
  font-weight: normal;
}

h2 {
  background-color: #AAB8B6;

  font-size: 40px;
  text-align: center;

  padding: 1em 0 1em 0;
  margin: 0 auto 0 auto;
}

h3 {
  font-size: 30px;
}

#main > h3 {
  margin-left: 1em;
}

nav > h1 {
  display: inline-block;

  text-align: left;

  padding: 0 0 0 20px;
}

.navbar {
  display: inline-block;

  float: right;

  margin: 50px 30px auto auto;
}

.navbar > a {
  display: inline;

  float: right;

  font-size: 30px;
  text-decoration: none;

  padding: 5px 10px 5px 10px;
  margin: 5px 10px 5px 10px;
}

.navbar > a:link, a:visited {
  color: #E9ECEe;
 
  background-color: #545B5A;
  border: 1px solid transparent;
}

.navbar > a:hover, a:active {
  color: black;
  
  background-color: #FFFFFF;
  border: 1px solid black;
}

div#main.twocolumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 33% 33% 34%;
  
  text-align: center;

  background-color: #DAE8E6;
}

.twocolumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30%;

  text-align: center;

  background-color: #DAE8E6;
}

.column:nth-of-type(4n) {
  background-color: #BAC8C6; 
}

.column:nth-of-type(4n+1) {
  background-color: #BAC8C6; 
}

.column:nth-of-type(0n+1) {
  background-color: #BAC8C6; 
}

.column h2, h3 {
  padding: 1em 0 1em 0;
  margin: 0;
}

.column > img {
  width: 90%;
  height: 90%;

  object-fit: cover;

  margin-top: 4%;
  padding: 0;

  border-radius: 50%;
}

.column p {
  text-align: left;
  font-family: times-new-roman;
  font-size: 30px;

  margin: 4%;
}

footer {
  margin: 0;
  padding: 20px 20px 0 20px;

  background-color: #545B5A;
}

footer > h3 {
  display: inline-block;

  color: white;
  text-align: left;

  margin-bottom: 0;
  padding: 10px 0 0 0;
}

footer p {
  display: block;

  color: white;
  text-align: left;

  padding: 0;
}

footer img {
  display: inline-block;

  height: 80%;
  width: 6%;

  float: right;

  margin: 0;
  padding: 20px 20px 0 0;
}

#gemstoneLogo {
  
}

footer a, footer a:active {
  font-size: 20px;
  color: white;

  background-color: rgba(0,0,0,0);
  border: 0;
}

.grid {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  grid-gap: 5vh;

  padding-bottom: 5vh;
  background-color: #DAE8E6;

  margin-right: 5vh;
}

.grid-element:nth-of-type(2n+1) {
  background-color: #BAC8C6; 
}

.grid h3 {
  font-weight: bold;
  text-decoration: underline;

  padding: 20px 0 10px 20px;
  margin: 0;
}

.grid p {
  display: inline-block;

  padding: 0 20px 0 20px;
  margin: 0;
}

.grid-element img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  margin: 20px 0 0 0;
  padding: 0;

  border-radius: 50%;
}

.standard-grid {
  display: grid;
  align-items: center;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  background-color: #DAE8E6;
}

.standard-grid h3 {
  background-color: #BAC8C6; 
}

.standard-grid p, li {
  text-align: left;
  font-size: 30px; 

  margin-left: 1vw;
}

.grid-column {
  text-align: center;
}

.standard-grid img {
  display: inline;

  height: 10vw;
  width: 10vw;

  margin: 1vw 0 1vw 0;

  border-radius: 50%;
}

li a {
  font-family: times-new-roman;
  font-size: 25px;
}

li a:visited, li a:link {
  color: black;
}

li a:active, li a:hover {
  border: 0;
  background-color: rgba(0,0,0,0);
}

.no-bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}

.needs-margin {
  margin: 1em;
}

.bordered {

}
/*
#main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
*/

#main > img {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;
}

#timeline {
	width: 1920px;
	height: 1080px;
}
