body {
  background-color: white;

  margin: 0px;
}

header {
  position: fixed;
  background-color: cornflowerblue;

  width: 100%;

  border: 1px solid black;
}

header > a {
  display: inline;

  padding: 50px 50px 10px 10px;
}

header > img {
  max-height: 10px;
  width: 100px;
}

h1 {
  font-weight: normal;
  
  display: inline;

  text-align: center;
}
