body {
  background-color: white;

  margin: 0px;
}

header {
  position: absolute;
  background-color: cornflowerblue;

  width: 100%;

  border: 1px solid black;
}

h1 {
  font-weight: normal;
  
  text-align: center;
}
