set tabstop=2 softtabstop=0 expandtab shiftwidth=2 smarttab
set colorcolumn=80
highlight colorcolumn ctermbg=6

inoremap { {}<Left>
inoremap ( ()<Left>
inoremap " ""<Left>
inoremap ' ''<Left>
inoremap [ []<Left>
nnoremap <S-kDel> :NERDTreeToggle<CR>

filetype indent on
set si
set hlsearch

set spell spelllang=en_us

set runtimepath^=~/.vim/nerdtree
